doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Home
  link(rel='stylesheet' href='https://use.typekit.net/bjb6aay.css')
  link(rel='stylesheet' type='text/css' href='./src/css/base.css')
  link(rel='stylesheet' type='text/css' href='./src/css/style.css')
body(data-barba="wrapper")
  main(data-barba="container" data-barba-namespace="home")
    nav.menu
      a.menu__item(data-img='img/1.jpg' href="/src/project.pug")
        span.menu__item-text
          span.menu__item-textinner Project Novgorod
      a.menu__item(data-img='img/2.jpg')
        span.menu__item-text
          span.menu__item-textinner Project Russia
      a.menu__item(data-img='img/3.jpg')
        span.menu__item-text
          span.menu__item-textinner Project city
      a.menu__item(data-img='img/4.jpg')
        span.menu__item-text
          span.menu__item-textinner Project Kazan
      a.menu__item(data-img='img/5.jpg')
        span.menu__item-text
          span.menu__item-textinner Project Ufa

//- svg.cursor(width='80' height='80' viewbox='0 0 80 80')
//-   circle.cursor__inner(cx='40' cy='40' r='20')
script(type='module' src='./src/js/index.js')
script(type='module' src='./src/js/app.js')
