doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Project
  link(rel='stylesheet' href='https://use.typekit.net/bjb6aay.css')
  link(rel='stylesheet' type='text/css' href='./src/css/base.css')
  link(rel='stylesheet' type='text/css' href='./src/css/style.css')
//-   script.
//-     document.documentElement.className = "js";
//-     var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
//-     supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
body(data-barba="wrapper")
    main(data-barba="container" data-barba-namespace="project")
        .w
        .w2

//- svg.cursor(width='80' height='80' viewbox='0 0 80 80')
//-   circle.cursor__inner(cx='40' cy='40' r='20')
//- script(type='module' src='./src/js/index.js')
script(type='module' src='./src/js/app.js')
